.hero{
    background: linear-gradient(#08003ab3,#08003ab3), url(../../assets/images/hero.png);
    
    min-height: 120vh;
    align-items: center;
    display: flex; /* για να γίνει το align-items center πρέπει να βάλω flex */
    justify-content: center; /* οριζόντια στοιχιση στο κέντρο */
}

.hero-text{
    /* background-color: green; */
    text-align: center;
    color: white;
    
}

h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.hero-text p{
    margin-bottom: 10px;
}